body {
  text-align: center;
  font-family: Helvetica;
}

h1 {
  color: white;
  font-weight: bold;
}

h2, h3 {
  color: black;
  font-weight: bold;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

p {
  font-size: 14px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
  color: white;
  font-size: 18px
}

.designed h3 {
  color: white;
}

.footer {
  background-color: dimgrey;
  text-align: left;
}

.footer p {
  color: white;
  font-size: 11px;
}

.footer li {
  display: inline;
}

#home {
  background: url("../images/the-flatiron-building.png") no-repeat center;
}

.designed {
  background: url("../images/the-flatiron-building.png") no-repeat center;
}
